<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Formulario de usuarios</title>
</head>
<body>
<p> Por favor, introduzca a continuación sus datos </p>
<form action="datosusuario" method="post">
	Nombre usuario: <br> <input type= "nombreusuario" name="nombreusuario" required> </br> 
	Email:	<br> <input type= "email" name="email" required> </br>
	Nombre:	<br> <input type= "nombre" name="nombre" required> </br>
	Apellido:	<br> <input type= "apellidos" name="apellidos" required> </br>
	<br><input type=submit value=Enviar></br>
 </form>
</body>
</html>