<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h2>Registrarse</h2>
    <form action="/registro" method="post">
        <label>Nombre de usuario:</label>
        <input type="text" name="nombre" required><br>

        <label>Contraseña:</label>
        <input type="password" name="password" required><br>

        <label>Rol:</label>
        <select name="es_admin" required>
            <option value="0">Usuario</option>
            <option value="1">Administrador</option>
        </select><br>

        <button type="submit">Registrar</button>
    </form>

   <p style="color: red;" th:text="${error}"></p>

    <p>¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></p>
</body>
</html>